body {
  background-image: url(./got.png) ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

form {
    background-color: pink;
    padding: 15px;
    margin: auto;
    width: 70%;
    background-image: url(./got.jpeg);
    
  }
  input {
    width:auto;
    border-radius: 4px;
  }
  input[type=text] {
    padding: 5px 5px;
  }