/* Fonts */

* {
    margin: 0;
    padding: 0;
}

/* First Slide Animation*/
@keyframes expand {
    from {width: 70%; height: 50%;}
    to {width: 100%; height: 100%;}
}

@keyframes loading {
    from {width: 0; }
    to {width: 150px;}
}

@keyframes load-out {
    from {margin-left: 0;}
    to {margin-left: 150px;}
}

@keyframes slide-up {
    from {height: 100%;}
    to {height: 0;}
}

@keyframes disappear {
    from { background-color: initial;}
    to {background-color: #64434C;}
}

/* First Slide Other Styles*/
#final {
    width: 100%;
    height: 100%;
    background-image: url(./obi_wan_kenobi_by_reverendtundra_d9wf6sc.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#bg1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #B4997A;
    background-color: #DACAA4;
    animation: slide-up 0.6s cubic-bezier(0.7, 0, 0.84, 0) 6s forwards;
}

#box1 {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    background-color: #291412;
    animation: expand 0.9s cubic-bezier(0.7, 0, 0.84, 0) 3s forwards;
}

#loading-bar {
    position: relative;
    overflow: hidden;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: rgba(218, 202, 164, .1);
    animation: disappear 0.1s linear 6.5s forwards;
}

#load {
    position: absolute;
    width: 0;
    height: 41px;
    border: none;   
    background: #64434C;
    background: #DACAA4; 
    animation: loading 1s cubic-bezier(0.5, 0, 0.75, 0) 1s forwards,
               load-out 1.6s ease-in 4s forwards ;    
}

/* Final Slide */
p {
    display: none;   
}

