.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

a {
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

body { 
    background-color: hsl(218, 28%, 13%);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

button {
    width: 250px;
    height: 50px;
    border: 0px;
    border-radius: 30px;
    color: hsl(0, 0%, 100%);
    opacity: 1;
    transition: 0.3s;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: medium;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}
button:hover {opacity: 0.9git}

#early-access-card {
    width: 65%;
    padding: 2%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(217, 28%, 15%);
    box-shadow: 1px 1px 3px hsl(219, 30%, 18%) ;
}

#early-access-card h3{
    font-size: xx-large;
}
.f {
    flex: 50%;   
    flex-basis: 50%;
    text-align: center;
    
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0% 10% 0% 10%;
}

#footer-div {
    background-color: hsl(216, 53%, 9%);
}

h1 {
    font-family: "Raleway", sans-serif ;    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-weight: 700;
    font-size: 300%;
}

h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 250%;
}

h4 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: large;
}

.intro {
    text-align: center;
    margin: 0;
    margin-bottom: 100px;
    padding: 0;
    text-align-last: center;
    background-image: url(./images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.intro p {
    font-size: 135%;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    font-weight: 400;
}

#intro-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: auto;
    height: auto;
    margin-top: 50px;  
      
}

.item1 {
    margin: 90px;
    margin-top:0px;
}
.item2 {
    margin: 90px;
    margin-top:0px;
}

img.rp {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

nav a {
    padding: 25px;
}

#navbar {
    top: 30px;
    left: 30px;
    right: 30px;
    font-family: "Raleway" , sans-serif;    
    font-size: medium;   
        
}

#navbar img {
    float: left;
    width: auto;
    margin-top: 20px;
    margin-left: 20px;
}

#navbar nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; 
}

#navNintro {
    background-color: hsl(217, 28%, 15%);
    margin: 0;
    padding: 0;
}

p {
    font-family: "Open Sans", sans-serif;
}

.Productive {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

#productive-content {
    margin-left: 20px;
    margin-right: 50px;
    padding: 40px;
}
#productive-content p {
    font-size: medium;
}
#productive-content a {
    color: hsl(176, 68%, 64%);
    text-decoration: underline;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: medium;
    padding-bottom: 5px;
}

#productive-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; 
    margin: 25px;   
    padding: 20px;
}

.productive-item {
    flex-basis: 50%;    
    margin: 0px;
    padding: 0px;
}

.review {
    float: left;
    width: 33.333333333%;
    padding: 0px 0px;
}

#reviews {
    margin: 150px 100px;
}

#reviews:after {
    content: "";
    display: table;
    clear: both;
}

.review-card {
    box-shadow: 0 4px 8px 0 rgba(32, 42, 60, 0.9); 
    padding: 15px 20px;
    margin: 20px;
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
  }

.review-person {
    display: flex;
}

.rp-info {
    font-size: xx-small;
    color: rgb(202, 202, 202);
}

.rp-name {
    font-weight: bold;
    font-size: smaller;
}

.rp-text p {
    margin: 3px;
    margin-left: 7px;
}

@media (max-width: 800px) {
    .review {
        width: 100%;
    }
    #reviews {
        margin: 50px 50px;
    }
}

@media (max-width: 750px) {
    .f {
        flex: 100%;
    }
    h1 {
        width: 90%;
        font-size: 180%;
    }
    .intro {
        background-image: url(./images/bg-curvy-mobile.svg);
    }
    #intro-img {
        width: fit-content;
        height: auto;
        margin-top: 25px;    
    }
    .item1 {
        margin: 2%;
        margin-top: 80px;
    }
    .item2 {
        margin: 2%;
        margin-top: 80px;
    }
    nav a {
        padding: 5px;
    }
    #navbar {
        font-size: small;

    }
    #navbar img {
        width: 30%;
    }
    .productive-item {
        flex-basis: 90%;
        width: 90%;
        text-align: center;
    }
    #productive-content {
        margin-left: auto;
        margin-right: auto;
        padding: auto;
    } 
}



