:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);
    font-family: "Poppins", sans-serif;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

#blueCard {
    border-top-color: var(--Blue);
    transform: translateY(50%);
}

body {
    font-size: 15px;
    background-color: var(--VeryLightGray);
}

#boldSpan {
    font-weight: 600;
}

#Cards {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
    margin-top: 50px;
}

.card {
    border: none;
    border-top-style:solid;
    border-top-width: 4px;
    border-radius: 9px;
    box-shadow: 0px 5px 8px 3px rgba(0,0,0, 0.1);
    max-width: 280px;
    height: auto;
    padding: 30px;
    padding-top: 5px;
    overflow: auto;
    margin: 15px;
}



.card img {
    float: right;
}

.card p {
    text-align: left;
    margin: 15px 10px 30px ;
    font-size: 13px;
}

#cyanCard {
    border-top-color: var(--Cyan);
    transform: translateY(50%);
}

.heading {
    color: var(--VeryDarkBlue);
}

h1{
    font-size: 240%;
}

h2 {
    color: var(--VeryDarkBlue);
}

#intro {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    text-align: center;
}

#orangeCard {
    border-top-color: var(--Orange);
}

p {
    color: var(--GrayishBlue);
}

p span {
    display: block;
    text-align: center;
}

#redCard {
    border-top-color: var(--Red);
}

#thinSpan {
    font-weight: 200;
}

@media (max-width:770px) {
    #cyanCard {
        transform: translateY(0%);
    }
    #blueCard {
        transform: translateY(0%);
    }
}
