body {
    
    background: black;
    color: white;
}

.boxes {

    margin: 2px; 
    height: 15rem;
    
    background-color: tomato;
}

#container {
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1300px) {
    .boxes {
        height: 13rem;
    }

    #container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 750px) {
    .boxes {
        height: 11rem;
    }

    #container {
        grid-template-columns: 1fr;
    }
}

img {
    
    object-fit: cover;
}