body {
    
    background: black;
    color: white;
    font-family: 'Baloo Tamma 2', cursive;
}

h1 {
    margin: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: xx-large;
}

h1 u {
    text-decoration-color: tomato;
}

.boxes {
    position: relative;
    display: block;
    margin: 10px;
    height: 25rem;
    overflow: hidden;
    opacity: 1;
}

.boxes img {
    transition: transform .5s ease-in;
}

.boxes:hover img {
    transform: scale(1.05);
}

.boxes:hover .overlay {
    opacity: 0.9;
}

#container {
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr;
}

.overlay {
    position: absolute;;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: .4s ease-in;
    opacity: 0;
    background-color: tomato;
}

.overlay p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: larger;
}

@media (max-width: 1100px) {
    .boxes {
        height: 20rem;
    }

    #container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 750px) {
    .boxes {
        height: 23rem;
    }

    #container {
        grid-template-columns: 1fr;
    }
}



img {
   width: 100%;
   height: 100%;
}