body {
    
    background: black;
    color: white;
}

.boxes {
    margin: 10px;
    height: 25rem;
    
}


#container {
    display: grid;
    margin: 10px;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 1100px) {
    .boxes {
        height: 20rem;
    }

    #container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 750px) {
    .boxes {
        height: 23rem;
    }

    #container {
        grid-template-columns: 1fr;
    }
}



img {
   width: 100%;
   height: 100%;
}