.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

:root {
    --Cyan: hsl(179, 62%, 43%);
    --BrightYellow: hsl(71, 73%, 54%);
    --LightGray: hsl(204, 43%, 93%);
    --GrayishBlue: hsl(218, 22%, 67%);
}

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

#bottomDiv {
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color: var(--BrightYellow);
}

#card {
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 650px;
    padding: auto;
}

h1 {
    font-weight: 700;
    color: var(--Cyan);
}

#guarantee {
    color: var(--BrightYellow);
    font-weight: 700;
    
}

#introP {
    color: var(--GrayishBlue);
}

#leftDiv {
    background-color: var(--Cyan);
    color: var(--LightGray);
    width: 50%;
    
}

#rightDiv {
    background-color: var(--Cyan);
    color: var(--LightGray);
    width: 50%;
}

#topDiv {
    padding: 10px 40px 10px 40px;
}

@media (max-width:600px) {
    #card {
        width: 90%;
    }

    #leftDiv {
        width: 100%;
    }

    #rightDiv {
        width: 100%;
    }
}