
a{
    display: block;
    padding: 8px;
    color: black;
    text-decoration: none;
}

body{
    font-family: 'Open Sans', sans-serif;
}
#buttons {
    display: inline;
}

#logo-image{
    align-items: center;
}
.logo{
    position: static;
    padding-top: 109px; 
    display: inline;
}
#center {
    margin: auto;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nav {
    top: 0px;
    width:100%;

}
.nav-bar div{
    top: 0;
    width: 100%;
    font-size: 34px;    
}
.nav-bar li{
    float: left;    
}
.nav-bar li a {
    font-size: 13px;
}
.nav-bar ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    float: right;    
    
}
#search-bar {
    display: inline;
}