
a{
    display: block;
    padding: 8px;
    color: black;
    text-decoration: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: #222;
}

footer {
    display: inline-flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
    border-top: 1px solid rgba(0,0,0, 0.12);
    color: rgba(0,0,0,.54);
    text-align: center;
}

input  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-left: 40px;
    width: 85%;
    height: 45px;
    border: 1px solid rgba(0,0,0, 0.15);
    border-radius: 25px;   
    background-image: url(./search.png), url(./microphone.png);
    background-size: 2.8%;
    background-repeat: no-repeat;
    background-position: 15px 15px, 540px;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: ;
}
  
li {
    float: right;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#main-content {
    margin: auto;
    margin-top: 110px;
    width: 50%;
    text-align: center;
}

.right {
    -ms-flex-align: end;
}

  
  
  
  
  