.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

a {
    text-decoration: none;
    color: white;
}
body { 
    background-color: hsl(218, 28%, 13%);
    color: hsl(0, 0%, 100%);
    margin-top: auto;
    padding: 30px;
    font-size: 14px;
}

#intro {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 150px;

    
}

nav a {
    padding: 25px;
}

#navbar {
    position: fixed;
    top: 30px;
    left: 30px;
    right: 30px;
    font-family: "Raleway" , sans-serif;    
    font-size: medium;   
}

#navbar img {
    float: left;
    width: auto;
}

#navbar nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; 
}

@media (max-width: 600px) {
    body {
        padding: 10px;;
    }
    #intro {
        margin-top: 75px;
    }
    nav a {
        padding: 5px;
    }
    #navbar {
        font-size: small;

    }
    #navbar img {
        width: 30%;
    }
    
    
}



